* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Rubik, sans-serif;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
.react-tooltip-lite {
  background: rgb(29, 29, 29);
  color: white;
  border-radius: 5px;
  font-size: 13px;
}
.laoding {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.weather svg {
  height: 5rem;
  width: 5rem;
  margin: 20px;
}
.box {
  padding: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.bgOpacity input {
  width: 100%;
}
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  margin: 5px 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-moz-focus-outer {
  border: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #696969;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -4px;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type='range']:hover::-webkit-slider-thumb,
input[type='range']:focus::-webkit-slider-thumb {
  transform: scale(1.2);
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #696969;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type='range']:hover::-moz-range-thumb,
input[type='range']:focus::-moz-range-thumb {
  transform: scale(1.2);
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: #1d1d1d;
  cursor: pointer;
  border-radius: 10px;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #1d1d1d;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
.translate-on-hover:hover > svg {
  transform: scale(1.5) translateX(5px);
}
.translate-on-hover > svg {
  transition: transform 0.2s ease;
  transform: scale(1.5);
}
.rotate-on-hover:hover {
  transform: rotate(180deg);
}
.rotate-on-hover {
  transition: transform 0.2s ease;
}
.translate-top-on-hover:hover {
  transform: translateY(-0.3rem);
}
